<header class="mt-6 flex items-center justify-between">
	<h1
		aria-label="Notifications"
		class="flex items-center gap-2 text-2xl font-bold text-VeryDarkBlue"
	>
		Notifications <span id="number" class="rounded-md bg-Blue px-3 py-1 text-sm text-White"></span>
	</h1>
	<button
		aria-label="Mark all as read"
		id="mark-all-as-read"
		class="flex items-center text-sm font-normal text-GrayishBlue hover:text-Blue"
	>
		Mark all as read
	</button>
</header>
